__pycache__
/lo/decoy.wav
/lo/flag1.wav
/lo/flag2.wav
/lo/lo.c32
/lo/lo1.py
/lo/lo2.py
/lo/solution1.py
/lo/solution2.py
/lo/solution2_2.py
/sigid/flag1.png
/sigid/flag2.wav
/sigid/flag3.wav
/sigid/flag4.wav
/sigid/flag5.wav
/sigid/flag8.bin
/sigid/flag8.wav
/sigid/multi_tx.py
/sigid/sig.c32
/sigid/sig*.py
/ultrasonic/rx.py
/ultrasonic/rx_epy_block_0.py
/ultrasonic/tx.py
